* {box-sizing:border-box;}
body {background-color: #CCC;}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.content-container{
    width: 75%;
    height: 100%;
    text-align: center;
}

li {
    width: 100%;
    height: 48px;
    list-style: none;
}

.selected{
    color: blue;
}
.list-container{
    width: 25%;
    height: 100%;
}
.cat-image:hover{
    cursor: pointer;
}

.none{
    display: none;
}